.main {
  text-align: center;
  background-color: #282c34;
}

.logo {
  height: 8vw;
  pointer-events: none;
  float: left;

}

/*
@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}
*/
.container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.text {
  font-size: calc(10px + 2vmin);
  color: white;
  font-weight: normal;
}

.link {
  color: #61dafb;
}


/*
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}*/